debug/
bin/
lib/
.idea/
__pycache__/
*.x
build/
tmp/
*.pyc
*.jpeg
*.jpg
render/
*.blend1
*.log
*.npz
*.zip
*.h264
*.mp4
*.pkl
*.pth
*.so

.vscode
tensorflow_test/flower_photos
tensorflow_test/mobile-flowers.pb